<div class="box-question">
  <p> <%= @question %> </p>
  <p>You</p>
</div>
<div class="box-answer">
  <p> <%= @coach_answer %> </p>
  <p>Your coach</p>
</div>


<%= link_to "Ask new question", ask_path %>
