<p>Ask your coach anything</p>

<form action="/answer" mehtod="get">
  <div class="form-layout">
    <input type="text" name="question">
    <input class="submit-btn" type="submit" value="Ask!">
  </div>
</form>
