/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  margin: 0 auto;
  width: 600px;
  text-align: center;
}


h1 {
  font-size: 48px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-layout > input {
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  padding: 10px 20px;
  border-style: none;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);;
}

.submit-btn {
  background-color: rgb(21, 123, 205);
  color: white;
}

.submit-btn:hover {
  background-color: rgb(19, 99, 164);
  cursor: pointer;
}

.box-question {
  background-color: #1270bc;
  padding: 10px;
  border-left: 20px solid gray;
  margin: 10px;
  color: white;
}

.box-answer {
  background-color: #5195cd;
  padding: 10px;
  border-left: 20px solid gray;
  margin: 10px;
  color: white;
}

a {
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  color: gray;
}
